@charset "utf-8";//必须设置了这个才能编译有中文的注释
/*!
使用before、after伪类方式
1、避免了图片的使用，节约了性能，并且修改方便
2、html结构简单，但css稍显复杂
3、不兼容IE6、7
*/

$toolbar-size: 52px;

.toolbar{
  position: fixed;
  left: 50%;
  bottom: 5px;
  margin-left: -$toolbar-size / 2;
}

.toolbar-item{
  position: relative;
  display: block;
  height: $toolbar-size;
  width: $toolbar-size;
  margin-top: 1px;

  &:hover{
    .toolbar-btn{
      &:before{
        top: -$toolbar-size;
      }
      &:after{
        top: 0;
      }
    }
    &:after{
      @include opacity(1);
      @include transform(scale(1));
    }
  }

  &:after{
    content: "";
    position: absolute;
    right: $toolbar-size - 6;
    bottom: -10px;
    width: 172px;
    background-image: url("/images/learn_2/toolbar_img.png");
    background-repeat: no-repeat;
    @include opacity(0);
    @include transform-origin(95% 95%);
    @include transform(scale(0.01));
    @include transition(all 1s);
  }
}

.toolbar-item-weixin{
   &:after{
     content: "";
     height: 212px;
     background-position: 0 0;
   }

  .toolbar-btn{
    &:before{
      @extend .icon-wechat;
    }
    &:after{
      content: "公众\A账号";
    }
  }
}

.toolbar-item-app{
  &:after{
    content: "";
    height: 194px;
    background-position: 0 -222px;
  }
  .toolbar-btn{
    &:before{
      @extend .icon-mobile;
    }
    &:after{
      content: "app\A下载";
    }
  }
}

.toolbar-item-top{
  .toolbar-btn{
    &:before{
      @extend .icon-vertical_align_top;
    }
    &:after{
      content: "返回\A顶部";
    }
  }
}

.toolbar-item-feedback{
  .toolbar-btn{
    &:before{
      @extend .icon-chat-3;
    }
    &:after{
      content: "意见\A反馈";
    }
  }
}

.toolbar-btn{
  &,&:before,&:after{
    position: absolute;
    left: 0;
    width: $toolbar-size;
    height: $toolbar-size;
  }
  &:before,&:after{
    content: "";
    color: #FFF;
    text-align: center;
    @include transition(top 1s);
  }
  top: 0;
  overflow: hidden;

  @extend [class^="icon-"];

  &:before{     //icon
    top: 0;
    background-color: #d0d6d9;
    font-size: 30px;
    line-height: $toolbar-size;
  }
  &:after{     //text
    top: $toolbar-size;
    background-color: #98a1a6;
    font-size: 12px;
    line-height: 1.2;
    padding-top: 12px;
    white-space: pre;
  }
}



