@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?acn58s');
  src:url('fonts/icomoon.eot?acn58s#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?acn58s') format('truetype'),
  url('fonts/icomoon.woff?acn58s') format('woff'),
  url('fonts/icomoon.svg?acn58s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat-3:before {
  content: "\e900";
}
.icon-vertical_align_top:before {
  content: "\e901";
}
.icon-wechat:before {
  content: "\e902";
}
.icon-mobile:before {
  content: "\e903";
}


@import "mixin";
@import "toolbar_ba";



