html,body{
    height: 100%;
    background-color: #26344B;
    font-size: 14px;
    font-family: 'Microsoft Yahei', sans-serif;
}

h1, .h1 {
    font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.icon-error {
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url("/images/icon/cancel.png") no-repeat transparent;
}

.breadcrumb{
    background-color: #FFF;
    font-size: 14px;
}
.breadcrumb i{
    margin-right: 5px;
}
.breadcrumb > li + li::before{
    content: ">"
}

.row{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}